@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#creator-btn {
  height: 32px;
  background-color: white;
  border: 3px solid black;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 16px;
  text-align: center;
}
#grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}
.cell {
  border: 1px solid gray;
  flex-grow: 1;
  flex-shrink: 1;
}
